* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

.loading-screen {
  font-size: 36px;
  margin: 100px;
}

.repos-list-container {
  width: 95%;
  margin: auto;
}

.repos-list-title {
  font-size: 36px;
  margin: 25px;
}

.repo-row {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.repo-row p {
  word-break: keep-all;
  padding: 5px;
  display: flex;
  align-self: center;
  justify-content: center;
}
